## 데이터 분석 3일차

In [4]:
score = float(input('점수를 입력해주세요:'))

if score >= 90:
    grade = 'A'
elif score >=80:
    grade = 'B'
elif score>=70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
else: grade = 'F'    
print(f'학점은 {grade}입니다')

점수를 입력해주세요:10
학점은 F입니다

In [6]:
fruit = ['apple', 'watermelon', 'peach', 'pear']
for m_f in fruit:
    print(m_f, len(m_f))

apple 5
watermelon 10
peach 5
pear 4

In [7]:
m_dict = {'a':1, 'b':2, 'c':3}
for m in m_dict:
    print(m)

a
b
c

range 함수

In [11]:
print(range(8))
print(list(range(2,8)))
print(list(range(10,200,20)))

range(0, 8)
[2, 3, 4, 5, 6, 7]
[10, 30, 50, 70, 90, 110, 130, 150, 170, 190]

In [17]:
#0부터 100까지 정수 중 짝수의 합을 구해라
sum = 0.0
rangeSum = 0.0

#1번째 방법
for i in range(0,101):
    if i%2==0:
        sum+=i
        
#2번째 방법        
for j in range(0,101,2):
    rangeSum+=j
    
print(sum, rangeSum)

2550.0 2550.0

반복문과 함께 쓰는 함수

In [22]:
l = ['a', 'b', 'c']
print(list(enumerate(l, start = 1)))
enumerate(l)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [24]:
for i,str in enumerate(l):
    print(f'{i}:{str}')

0:a
1:b
2:c

In [28]:
l = ['a','b','c']
m=['hello','abc','world','1']
c = [10,20,30]
for i in zip(l,m,c):
    print(i)

('a', 'hello', 10)
('b', 'abc', 20)
('c', 'world', 30)

In [ ]:
for i,j,k in zip(l,m,c):
    print(i,j,k)

In [43]:

l = ['1','40.3','37']
lambdaList = list(map(lambda x : float(x), l))

print(list(map(float, l)))
print(lambdaList)

[1.0, 40.3, 37.0]
[1.0, 40.3, 37.0]

In [69]:
for i in range(0,13):
    print(f"{i:<2}   {2**i:<4}")

# cnt = 0
# while cnt<13:
#     print(f"{cnt:2d}   {2**cnt:d}")
#     cnt+=1

0    1
1    2
2    4
3    8
4    16
5    32
6    64
7    128
8    256
9    512
10   1024
11   2048
12   4096

### 리스트

In [ ]:
l = [1,2,3]
l.append(4)
l.extend([3])
l.insert(0,3)
print(l)

In [81]:
l = [1,2,3,3,2,2]
l.remove(2)
l

[1, 3, 3, 2, 2]

리스트내포

In [85]:
lst = [1,2,3]
lst2 = []
for i in lst:
    lst2.append(i**2)
print(lst2)    
lst3 = [x**2 for x in lst]
print(lst3)

[1, 4, 9]
[1, 4, 9]

In [86]:
lst3 = [(x,x**2) for x in lst if x<5]
print (lst3)

[(1, 1), (2, 4), (3, 9)]

find replace split 등은 문자열연산자

In [ ]:
#홍길동씨 주민번호
pin = '881120-1068234'
# pin = input('주민번호를 입력해보세요')
front,end = pin.split('-')
if end[0] == '1':
    print('male')
else: print('not male')

In [102]:
s = 'life is short,so python is easy'
punct = ',. '
d = {}
for i in s:
    if i in punct: continue #punct 안의 요소면 continue
    d[i] = d.get(i,0)+1
#     if (i not in d): #없으면 1로 초기화해줌
#     d[i] = 1
#     else: d[i] += 1 #있으면 1더해줌
print(d)

{'l': 1, 'i': 3, 'f': 1, 'e': 2, 's': 5, 'h': 2, 'o': 3, 'r': 1, 't': 2, 'p': 1, 'y': 2, 'n': 1, 'a': 1}

집합

In [104]:
print(set([1,1,3,2,1]))
{1,1,3,2,3}

{1, 2, 3}

{1, 2, 3}