In [2]:
import pymysql
db = pymysql.connect(host='localhost',
                    user='root',
                    password='mariadb',
                    database='test')
cursor = db.cursor() # 커서 하나 생성 - DB 현재 작업하는 위치 표시
cursor.execute("SELECT VERSION()")
data = cursor.fetchone()
print(f"Databse version{data}")

db.close()

Databse version('10.6.3-MariaDB',)

In [4]:
cursor.fetch*?

In [17]:
db = pymysql.connect(host='localhost',
                    user='root',
                    password='mariadb',
                    database='test')
cursor = db.cursor()
sql = """
SELECT * from testtable
"""
try:
    cursor.execute(sql)
    results = cursor.fetchall()
    for rec in results:
        print(rec)
except Exception as e:
    print(e)

(1, 'hello', '010-1234-5678', 'abc@abc.com')
(2, 'hello2', '010-5678-9101', 'hello@abc.com')

In [18]:
cursor.executemany?

In [24]:
statement ="""
INSERT INTO `test`.`testtable` ('username', 'phone', 'email') VALUES (%s,%s,%s);
"""
data = [('hello3', '010-2352-4623', 'hello@daum.net'),
       ('hello4', '010-6122-1324', 'hello1654@daum.net')]
cursor.executemany(statement,data)
db.commit()

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near ''username', 'phone', 'email') VALUES ('hello3','010-2352-4623','hello@daum.ne...' at line 1")