## 데이터 분석 3일차

In [4]:
score = float(input('점수를 입력해주세요:'))

if score >= 90:
    grade = 'A'
elif score >=80:
    grade = 'B'
elif score>=70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
else: grade = 'F'    
print(f'학점은 {grade}입니다')

점수를 입력해주세요:10
학점은 F입니다

In [6]:
fruit = ['apple', 'watermelon', 'peach', 'pear']
for m_f in fruit:
    print(m_f, len(m_f))

apple 5
watermelon 10
peach 5
pear 4

In [7]:
m_dict = {'a':1, 'b':2, 'c':3}
for m in m_dict:
    print(m)

a
b
c

range 함수

In [11]:
print(range(8))
print(list(range(2,8)))
print(list(range(10,200,20)))

range(0, 8)
[2, 3, 4, 5, 6, 7]
[10, 30, 50, 70, 90, 110, 130, 150, 170, 190]

In [17]:
#0부터 100까지 정수 중 짝수의 합을 구해라
sum = 0.0
rangeSum = 0.0

#1번째 방법
for i in range(0,101):
    if i%2==0:
        sum+=i
        
#2번째 방법        
for j in range(0,101,2):
    rangeSum+=j
    
print(sum, rangeSum)

2550.0 2550.0

반복문과 함께 쓰는 함수

In [22]:
l = ['a', 'b', 'c']
print(list(enumerate(l, start = 1)))
enumerate(l)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [24]:
for i,str in enumerate(l):
    print(f'{i}:{str}')

0:a
1:b
2:c

In [28]:
l = ['a','b','c']
m=['hello','abc','world','1']
c = [10,20,30]
for i in zip(l,m,c):
    print(i)

('a', 'hello', 10)
('b', 'abc', 20)
('c', 'world', 30)

In [ ]:
for i,j,k in zip(l,m,c):
    print(i,j,k)

In [43]:

l = ['1','40.3','37']
lambdaList = list(map(lambda x : float(x), l))

print(list(map(float, l)))
print(lambdaList)

[1.0, 40.3, 37.0]
[1.0, 40.3, 37.0]

In [69]:
for i in range(0,13):
    print(f"{i:<2}   {2**i:<4}")

# cnt = 0
# while cnt<13:
#     print(f"{cnt:2d}   {2**cnt:d}")
#     cnt+=1

0    1
1    2
2    4
3    8
4    16
5    32
6    64
7    128
8    256
9    512
10   1024
11   2048
12   4096